/* Conteneur principal */



.card {
  padding: 60px;
  border: none;
  
 
  max-width: 1200px; /* Limite la largeur à 500px */
  margin: 0 auto;   /* Centre la carte horizontalement */
  margin-top: 10%;
}

/* Champ de recherche */
input[pInputText] {
  padding: 6px 10px;
  
  
  width: 20%; /* S'adapte à la largeur du conteneur */
  
  color: #5c5358;
  background-color: #f9f7f7;
}


/* Tableau */
.p-table {
  width: 100%; /* S'adapte à la largeur de la carte */
  border-collapse: collapse;
}

.p-table thead th {
  background-color: #f4f4f4;
  color: #97589b;
  padding: 100px; 
  text-align: left;
  font-weight: bold;

  
}

.p-table tbody tr:hover {
  background-color: #634272;
  transition: background-color 0.3s ease;

}

/* Boutons d'action */
.p-button-rounded {
  margin-right: 4px;
  padding: 6px;
  width: 30px;
  height: 30px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  font-size: 12px;
}

.p-button-rounded:hover {
  transform: scale(1.1);
 
}



@media (min-width: 768px) {
  .p-button-success {
    font-size: 21px;
    padding: 18px 34px;
  }
}

/* Message vide */
.p-datatable-emptymessage {
  text-align: center;
  font-style: italic;
  color: #888;
  padding: 25px;
}
th{
  color: #1c0496;
}
.card{
  width: 1500px;
  margin-top: 25px;
  border-radius:10px;
  padding-top: 0px;
  padding-bottom: 30px;
}  
h2{
text-align: center;
padding: 10px;
color: #1c0496;
margin-top: 10px;

}
.p-button-success {
  background: linear-gradient(135deg, #928b95, #333131); /* Dégradé violet-rouge */
  color: #fff;
  font-weight: bold;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 25px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  gap: 8px;
  width: fit-content;
  min-width: 150px;
  margin: 10px auto;
  align-items: right;
  text-align: right;
  margin-left: 5px;
}

.p-button-success:hover {
  background: linear-gradient(135deg, #333131, #89818d); /* Inversion du gradient */
  transform: scale(1.05);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.p-button-success:active {
  transform: scale(0.98);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/* Conteneur de la pagination */
.flex.justify-center {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 20px;
}

/* Boutons de pagination */
.flex.justify-center button {
  padding: 8px 14px;
  font-size: 10px;
  font-weight: bold;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Bouton page active */
.flex.justify-center button.bg-blue-500 {
  background: linear-gradient(135deg, #4a4b61, #333131);
  color: white;
  transform: scale(1.1);
}

/* Boutons inactifs */
.flex.justify-center button.bg-gray-200 {
  background: #f4f4f4;
  color: #333;
}

.flex.justify-center button:hover {
  background: #ddd;
  transform: scale(1.05);
}

/* Effet clic */
.flex.justify-center button:active {
  transform: scale(0.98);
}
