<!-- Navbar -->
<nav id="navbar" *ngIf="showNavbar">
  <ul class="navbar-items flexbox-col">
    <li class="navbar-logo flexbox-left">
      <a class="navbar-item-inner flexbox" >
        <img src="/assets/images/icon-removebg-preview.png" width="200">
      </a>
      <span class="user-name">{{ userName }}</span> 
    </li>
    <li class="navbar-item flexbox-left" >
      <a class="navbar-item-inner flexbox-left" routerLink="/home">
        <div class="navbar-item-inner-icon-wrapper flexbox">
          <img src="/assets/images/2-removebg-preview.png" width="100px">
        </div>
        <span class="link-text">{{ 'Home' | translate }}</span>
      </a>
    </li>
    <li class="navbar-item flexbox-left" *ngIf="isAdmin">
      <a class="navbar-item-inner flexbox-left" routerLink="/gestUsers">
        <div class="navbar-item-inner-icon-wrapper flexbox">
          <img src="/assets/images/4-removebg-preview.png" width="100px" >
        </div>
        <span class="link-text">{{ 'GestUsers' | translate }}</span>
      </a>
    </li>
    <li class="navbar-item flexbox-left" *ngIf="isAdmin">
      <a class="navbar-item-inner flexbox-left" routerLink="/gestStruct">
        <div class="navbar-item-inner-icon-wrapper flexbox">
          <img src="/assets/images/8-removebg-preview.png" width="100px" >
        </div>
        <span class="link-text">{{ 'GestStructures' | translate }}</span>
      </a>
    </li>
    
    <li class="navbar-item flexbox-left" *ngIf="isAdmin">
      <a class="navbar-item-inner flexbox-left" routerLink="/gestType">
        <div class="navbar-item-inner-icon-wrapper flexbox">
          <img src="/assets/images/municipal-removebg-preview.png" width="100px" >
        </div>
        <span class="link-text">{{ 'GestTypeStructures' | translate }}</span>
      </a>
    </li>
    <li class="navbar-item flexbox-left" *ngIf="isAdmin">
      <a class="navbar-item-inner flexbox-left" routerLink="/gestSign">
        <div class="navbar-item-inner-icon-wrapper flexbox">
          <img src="/assets/images/6-removebg-preview.png" width="100px" >
        </div>
        <span class="link-text">{{ 'GestSignataires' | translate }}</span>
      </a>
    </li>
  
    <li class="navbar-item flexbox-left" *ngIf="isAdmin">
      <a class="navbar-item-inner flexbox-left" routerLink="/gestTypedemande">
        <div class="navbar-item-inner-icon-wrapper flexbox">
          <img src="/assets/images/1000_F_245242050_YeKpxzzutMROyfD1UD6BQLUULLEhQOXo-removebg-preview.png" width="100px" height="30px">
        </div>
        <span class="link-text">{{ 'GestTypeDemande' | translate }}</span>
      </a>
    </li>
    <li class="navbar-item flexbox-left">
      <a class="navbar-item-inner flexbox-left" (click)="logout()">
        <div class="navbar-item-inner-icon-wrapper flexbox">
          <img src="/assets/images/3-removebg-preview.png" width="100px" >
        </div>
        <span class="link-text">{{ 'Logout' | translate }}</span>
      </a>
    </li>
  </ul>
</nav>
