<h2 class="text-center padding-bottom--15">Gestion des Signataires</h2>
<div class="container form-wrapper">
  

  <div *ngIf="errorMessage" class="alert alert-danger text-danger">{{ errorMessage }}</div>

  <p-table #dt [value]="signataires" dataKey="id" editMode="row" [paginator]="true" [rows]="5" [globalFilterFields]="['cmpps', 'nomFr', 'prenomFr', 'email']" class="formbg">
    <ng-template pTemplate="caption">
      <div class="flex justify-end">
        <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Recherche..." class="form-control" />
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="cmpps">CMNPS <p-sortIcon field="cmpps"></p-sortIcon></th>
        <th pSortableColumn="nomFr">Nom <p-sortIcon field="nomFr"></p-sortIcon></th>
        <th pSortableColumn="prenomFr">Prénom <p-sortIcon field="prenomFr"></p-sortIcon></th>
        <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon></th>
        <th pSortableColumn="telephone">Téléphone <p-sortIcon field="telephone"></p-sortIcon></th>
        <th>Structure</th>
        <th>Actions</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-signataire let-editing="editing" let-ri="rowIndex">
      <tr [pEditableRow]="signataire">
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="signataire.cmpps" />
            </ng-template>
            <ng-template pTemplate="output">
              {{ signataire.cmpps }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="signataire.nomFr" />
            </ng-template>
            <ng-template pTemplate="output">
              {{ signataire.nomFr }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="signataire.prenomFr" />
            </ng-template>
            <ng-template pTemplate="output">
              {{ signataire.prenomFr }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="signataire.email" />
            </ng-template>
            <ng-template pTemplate="output">
              {{ signataire.email }}
            </ng-template>
          </p-cellEditor>
        </td>
        
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="signataire.telephone" />
            </ng-template>
            <ng-template pTemplate="output">
              {{ signataire.telephone }}
            </ng-template>
          </p-cellEditor>
        </td>
        
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <p-dropdown
  [options]="structures"
  [(ngModel)]="signataire.structure"
  optionLabel="libelleFr"
  placeholder="Sélectionner une structure">
</p-dropdown>

            
            </ng-template>
            <ng-template pTemplate="output">
              {{ signataire.structure ? signataire.structure.libelleFr : 'Structure inconnue' }}
            </ng-template>
          </p-cellEditor>
        </td>
        
        <td>
          <div class="flex items-center justify-center gap-2">
            <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(signataire)" text rounded severity="secondary"></button>
            <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(signataire)" text rounded severity="secondary"></button>
            <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(signataire, ri)" text rounded severity="secondary"></button>
            <button pButton type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="deleteSignataire(signataire.id)"></button>
          </div>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr><td colspan="7">Aucun signataire trouvé.</td></tr>
    </ng-template>
  </p-table>

  <button pButton class="p-button-success" (click)="addSignataire()">Ajouter un Signataire</button>
</div>
