<div class="card p-4 shadow-lg rounded-lg">
  <div class="flex justify-between items-center mb-3">
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input 
        pInputText 
        type="text" 
        class="p-inputtext-sm w-full md:w-72" 
        (input)="dt.filterGlobal($any($event.target).value, 'contains')" 
        placeholder="Rechercher une structure..."
      />
    </span>
    <button 
      pButton 
      type="button" 
      label="Ajouter une structure" 
      icon="pi pi-plus" 
      class="p-button-success p-button-sm" 
      (click)="addStructure()"
    ></button>
    
  </div>
  <p-table 
  #dt 
  [value]="paginatedStructures" 
  responsiveLayout="scroll" 
  [globalFilterFields]="['code', 'libelleFr', 'libelleAr', 'adresse', 'parentStructure.libelleFr', 'type.libelleFr']"
  [loading]="loading"
>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="libelleFr">Libellé (Fr) <p-sortIcon field="libelleFr"></p-sortIcon></th>
      <th pSortableColumn="libelleAr">Libellé (Ar) <p-sortIcon field="libelleAr"></p-sortIcon></th>
      <th pSortableColumn="adresse">Adresse <p-sortIcon field="adresse"></p-sortIcon></th>
      <th pSortableColumn="parentStructure.libelleFr">Structure Parente <p-sortIcon field="parentStructure.libelleFr"></p-sortIcon></th>
      <th pSortableColumn="type.libelleFr">Type <p-sortIcon field="type.libelleFr"></p-sortIcon></th>
      <th class="text-center">Actions</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-structure>
    <tr>
      <td>{{ structure.libelleFr }}</td>
      <td>{{ structure.libelleAr }}</td>
      <td>{{ structure.adresse }}</td>
      <td>{{ structure.parentStructure?.libelleAr || 'Aucune structure parente' }}</td>
      <td>{{ structure.type?.libelleFr || 'Aucun type' }}</td>      <td class="text-center">
        <button 
          pButton 
          type="button" 
          icon="pi pi-pencil" 
          class="p-button-rounded p-button-sm p-button-warning mx-1" 
          (click)="editStructure(structure.id)"
        ></button>
        <button 
          pButton 
          type="button" 
          icon="pi pi-trash" 
          class="p-button-rounded p-button-sm p-button-danger mx-1" 
          (click)="confirmDelete(structure.id)"
        ></button>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr><td colspan="7" class="text-center">Aucune structure trouvée.</td></tr>
  </ng-template>
</p-table>

 
<div class="flex justify-center mt-4 space-x-2">
  <button 
    *ngFor="let page of [].constructor(totalPages); let i = index" 
    (click)="changePage(i + 1)"
    [ngClass]="{'bg-blue-500 text-white px-3 py-1 rounded': i + 1 === currentPage, 
                'bg-gray-200 px-3 py-1 rounded': i + 1 !== currentPage}" id="">
    {{ i + 1 }}
  </button>
</div>

  <p-confirmDialog header="Confirmation" message="Voulez-vous supprimer cette structure ?" icon="pi pi-exclamation-triangle"></p-confirmDialog>
</div>
