<html>
<body>


  <div class="login-root">
    <div class="box-root flex-flex flex-direction--column" style="min-height: 100vh;flex-grow: 1;">
      <div class="loginbackground box-background--white padding-top--64">
        <div class="loginbackground-gridContainer">
      
        <form [formGroup]="structForm" (ngSubmit)="onSubmit()">
  <!-- Afficher les messages d'erreur et de succès -->
  <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
  <div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>

    <div class="formbg-outer">
      <div class="formbg">
        <div class="formbg-inner padding-horizontal--48">
          <span class="padding-bottom--15">Remplir les données de la structure</span>


          <div class="field padding-bottom--24">
            <label for="libelleAr">Libellé (Arabe)</label>
            <input type="text" id="libelleAr" formControlName="libelleAr" class="form-control" required />
            <div *ngIf="structForm.get('libelleAr')?.invalid && structForm.get('libelleAr')?.touched" class="text-danger">
              <div *ngIf="structForm.get('libelleAr')?.hasError('required')">Le libellé en arabe est requis</div>
            </div>
          </div>

          <div class="field padding-bottom--24">
            <label for="libelleFr">Libellé (Français)</label>
            <input type="text" id="libelleFr" formControlName="libelleFr" class="form-control" required />
            <div *ngIf="structForm.get('libelleFr')?.invalid && structForm.get('libelleFr')?.touched" class="text-danger">
              <div *ngIf="structForm.get('libelleFr')?.hasError('required')">Le libellé en français est requis</div>
            </div>
          </div>

          <div class="field padding-bottom--24">
            <label for="adresse">Adresse</label>
            <input type="text" id="adresse" formControlName="adresse" class="form-control" required />
            <div *ngIf="structForm.get('adresse')?.invalid && structForm.get('adresse')?.touched" class="text-danger">
              <div *ngIf="structForm.get('adresse')?.hasError('required')">L'adresse est requise</div>
            </div>
          </div>


          <div class="field padding-bottom--24">
            <label>Structure Parente</label>
            <select for="parentStructure" id="parentStructure" formControlName="parentStructure" class="form-control">
              <option value="">Sélectionner une structure</option>
              <option *ngFor="let structure of structures" [ngValue]="structure">
                {{ structure.libelleFr }} - {{ structure.libelleAr }}
              </option>
            </select>
          </div>

          <div class="field padding-bottom--24">
            <label>Type</label>
            <select id="typeId" formControlName="type" class="form-control">
              <option value="">Sélectionner un type</option>
              <option *ngFor="let type of types" [ngValue]="type">
                {{ type.libelle }}
              </option>
            </select>
            <div *ngIf="structForm.get('type')?.invalid && structForm.get('type')?.touched" class="text-danger">
              <div *ngIf="structForm.get('type')?.hasError('required')">Le type est requis</div>
            </div>
          </div>

          <div class="form-actions">
            <button type="submit" class="btn btn-primary" [disabled]="structForm.invalid">Enregistrer</button>
          </div>
        </div>
        
      </div>
      
    </div>
  </form>
  </div>
  
</div>
</div>
  </div>


</body>
</html>