<div class="form-wrapper">
  <!-- Formulaire -->
  <div class="container formbg">
    <h2 class="text-center padding-bottom--15">{{ 'edit_structure' | translate }}</h2>

    <form [formGroup]="structForm" (ngSubmit)="onSubmit()" class="box-root flex-direction--column">
      <div class="form-group padding-top--24">
        <label for="libelleAr">{{ 'label_ar' | translate }}</label>
        <input type="text" id="libelleAr" formControlName="libelleAr" class="field input" />
      </div>

      <div class="form-group padding-top--24">
        <label for="libelleFr">{{ 'label_fr' | translate }}</label>
        <input type="text" id="libelleFr" formControlName="libelleFr" class="field input" />
      </div>

      <div class="form-group padding-top--24">
        <label for="adresse">{{ 'address' | translate }}</label>
        <input type="text" id="adresse" formControlName="adresse" class="field input" />
      </div>

      <div class="form-group padding-top--24">
        <label>{{ 'structure' | translate }}</label>
        <select id="parentStructure" formControlName="parentStructure" class="form-control">
          <option value="">{{ 'select_structure' | translate }}</option>
          <option *ngFor="let structure of structures" [ngValue]="structure">
            {{ structure.libelleFr }} - {{ structure.libelleAr }}
          </option>
        </select>
      </div>

      <div class="field padding-bottom--24">
        <label>{{ 'type' | translate }}</label>
        <select id="typeId" formControlName="type" class="form-control">
          <option value="">{{ 'select_type' | translate }}</option>
          <option *ngFor="let type of types" [ngValue]="type">
            {{ type.libelle }}
          </option>
        </select>
        <div *ngIf="structForm.get('type')?.invalid && structForm.get('type')?.touched" class="text-danger">
          <div *ngIf="structForm.get('type')?.hasError('required')">{{ 'type_required' | translate }}</div>
        </div>
      </div>

      <div *ngIf="errorMessage" class="alert alert-danger text-danger">{{ errorMessage }}</div>
      <div *ngIf="successMessage" class="alert alert-success text-success">{{ successMessage }}</div>

      <button type="submit" [disabled]="structForm.invalid" class="btn btn-primary padding-top--24">
        {{ 'save' | translate }}
      </button>
      <button type="button" (click)="cancel()" class="btn btn-secondary padding-top--24">
        {{ 'cancel' | translate }}
      </button>
    </form>
  </div>

  <!-- Image à côté du formulaire -->
  <div class="image-container">
    <img src="assets/images/upd.png" alt="{{ 'illustration' | translate }}">
  </div>
</div>
