<div class="form-wrapper">
  <!-- Formulaire -->
  <div class="container formbg">
    <h2 class="text-center padding-bottom--15">Modifier le Type </h2>
    <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
    <div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>

    <form [formGroup]="typeForm" (ngSubmit)="addType()">
  
      <div class="form-group padding-top--24">

        <label for="libelle">Libellé</label>
        <input
          type="text"
          class="form-control"
          id="libelle"
          formControlName="libelle"
          placeholder="Libellé du type"
        />
        <div *ngIf="typeForm.get('libelle')?.invalid && typeForm.get('libelle')?.touched" class="text-danger">
          Le libellé est requis.
        </div>
      </div>
  
      <button type="submit" class="btn btn-primary padding-top--24" [disabled]="typeForm.invalid">Ajouter</button>
    </form>
  </div>
    <div class="image-container">
<img src="assets/images/type.png">
    </div>
  </div>
  