<div class="form-wrapper">
  <!-- Formulaire -->
  <div class="container formbg">
    <h2 class="text-center padding-bottom--15">Modifier le Type </h2>
    <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
    <div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>

    <form [formGroup]="typeForm" (ngSubmit)="addType()">
  
      <div class="form-group padding-top--24">

        <label for="libelleAr">Libellé Ar</label>
        <input
          type="text"
          class="form-control"
          id="libelleAr"
          formControlName="libelleAr"
          placeholder="Libellé en Arabe du type"
        />
        <div *ngIf="typeForm.get('libelleAr')?.invalid && typeForm.get('libelleAr')?.touched" class="text-danger">
          Le libellé est requis.
        </div>

        <label for="libelleFr">Libellé Fr</label>
        <input
          type="text"
          class="form-control"
          id="libelleFr"
          formControlName="libelleFr"
          placeholder="Libellé en Francais du type"
        />
        <div *ngIf="typeForm.get('libelleFr')?.invalid && typeForm.get('libelleFr')?.touched" class="text-danger">
          Le libellé est requis.
        </div>

      </div>
  
      <button type="submit" class="btn btn-primary padding-top--24" [disabled]="typeForm.invalid">Ajouter</button>
    </form>
  </div>
    <div class="image-container">
<img src="assets/images/type.png">
    </div>
  </div>
  